.section{
    height: 80rem;
    display: flex;
    background-color: #121212;
    color: aliceblue;
}

.section > div:nth-child(1){
    margin: auto;
    width: 80rem;
    display: flex;
}

.section > div > div > h1{
    font-size: 2rem;
}

.article{
    font-size: 1.5rem;
    margin-right: 10rem;
}

.img{
    width: 25rem;
    height: 25rem;
}