.section{
    background-color: #121212;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.textbox{
    background-color: #121212;
    color: aliceblue;
    margin: auto;
}

.header{
    font-size: 40px;
}

.article{
    font-size: 24px;
}

.button{
    font-size: 20px;
    width: 20em;
    height: 4em;
    transform: translateY(2em);
    background-color: inherit;
    color: #F05454;
    border-color: #F05454;
    cursor: pointer;
    border-width: 0.1em;
    transition: all 0.2s ease;
}

.button:hover{
    transform: translate(1em,1em);
    scale: 1.1;
}

strong{
    color: #F05454;
}

svg{
    margin: auto;
    transform: translate(0,100%);
    scale: 0.75;
    cursor: pointer;

}


svg > path:nth-child(1){
    animation-name: svg-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

svg > path:nth-child(2){
    animation-name: svg-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

svg > path:nth-child(3){
    animation-name: svg-anim;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes svg-anim{
    0% {transform: translate(0,0%);}
    25% {transform: translate(0,-5%);}
    50% {transform: translate(0,-10%);}
    75% {transform: translate(0,-5%);}
    100% {transform: translate(0,0%);}
}




