.section{
    background-color: #121212;
    height: 50rem;
    display: flex;
    flex-direction: column;
}

.textbox{
    background-color: #121212;
    color: aliceblue;
    margin: auto;
    transform: translate(0, -5em);
}

.header{
    font-size: 2.5rem;
}

.article{
    font-size: 1.5rem;
}

.button{
    font-size: 1.5rem;
    width: 30rem;
    height: 6rem;
    transform: translateY(2em);
    background-color: inherit;
    color: #F05454;
    border-color: #F05454;
    cursor: pointer;
    border-width: 0.1em;
    transition: all 0.2s ease;
}

.button:hover{
    scale: 1.1;
}

strong{
    color: #F05454;
}







