.section{
    height: 60rem;
    width: 100rem;
    margin: auto;
    margin-bottom: 20rem;
    display: flex;
    background-color: #121212;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.tools{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1rem; 
}

.section  > div:nth-child(2){
    height: 50rem;
    width: auto;
    margin: auto;
}

.linksIcons > a > img{
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;   
}

.linksIcons{
    display: flex;
}

.Right{
    display: flex;
    flex-direction: column;
}

.Right > img{
    width: 50rem;
    height: auto;
    margin: auto;
}

.button{
    width: 4em;
    height: 4em;
    background-color: inherit;
    border: 0;
    cursor: pointer;
}

.button:nth-child(1){
    transform: translateX(-20%);
}

.button > img{
    width: 3em;
    height: 3em;
}

.Switch > div{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 16em;
    margin-left: 2em;
    margin-right: 2em;
}

.svg{
    scale: 0.8;
    margin: auto;
    transform: translate(0, 0);
}

.Switch{
    position: relative;
    width: 20rem;
    display: flex;
    transform: translate(16rem, -5rem);
}

.Left{
    display: flex;
    flex-direction: column;
    padding: 10em;
    width: 32.5%;
}

.Left > div > h1{
    font-size: 40px;
}

.Left > div > article{
    font-size: 22px;
    height: 18em;
}

h3{
    color: dimgray;
}

.links > div{
    display: flex;
    justify-content: space-between;
    width: 40em;
    margin: auto;
}

.img {
    transform: rotate(90deg);
}

.img2 {
    transform: rotate(-90deg);
}

